[user]
	name = Adrian Porras
	email = adrian.porras@gmail.com
[alias]
  co = checkout
  cm = commit
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
  editor = mvim -f
[apply]
  whitespace = nowarn
[heroku]
  account = personal
